 <!-- Chat Box End-->
    <!-- jquery

        
        ============================================ -->
        {% load static %}

        <script src="{% static 'analytics/js/vendor/jquery-1.11.3.min.js' %}"></script>
        <!-- bootstrap JS
            ============================================ -->
        <script src="{% static 'analytics/js/bootstrap.min.js' %}"></script>
        <!-- meanmenu JS
            ============================================ -->
        <script src="{% static 'analytics/js/jquery.meanmenu.js' %}"></script>
        <!-- mCustomScrollbar JS
            ============================================ -->
        <script src="{% static 'analytics/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
        <!-- sticky JS
            ============================================ -->
        <script src="{% static 'analytics/js/jquery.sticky.js' %}"></script>
        <!-- scrollUp JS
            ============================================ -->
        <script src="{% static 'analytics/js/jquery.scrollUp.min.js' %}"></script>
        <!-- scrollUp JS
            ============================================ -->
        <script src="{% static 'analytics/js/wow/wow.min.js' %}"></script>
        <!-- counterup JS
            ============================================ -->
        <script src="{% static 'analytics/js/counterup/jquery.counterup.min.js' %}"></script>
        <script src="{% static 'analytics/js/counterup/waypoints.min.js' %}"></script>
        <script src="{% static 'analytics/js/counterup/counterup-active.js' %}"></script>
        <!-- jvectormap JS
            ============================================ -->
        <script src="{% static 'analytics/js/jvectormap/jquery-jvectormap-2.0.2.min.js' %}"></script>
        <script src="{% static 'analytics/js/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
        <script src="{% static 'analytics/js/jvectormap/jvectormap-active.js' %}"></script>
        <!-- peity JS
            ============================================ -->
        <script src="{% static 'analytics/js/peity/jquery.peity.min.js' %}"></script>
        <script src="{% static 'analytics/js/peity/peity-active.js' %}"></script>
        <!-- sparkline JS
            ============================================ -->
        <script src="{% static 'analytics/js/sparkline/jquery.sparkline.min.js' %}"></script>
        <script src="{% static 'analytics/js/sparkline/sparkline-active.js' %}"></script>
        <!-- flot JS
            ============================================ -->
        <script src="{% static 'analytics/js/flot/Chart.min.js' %}"></script>
        <script src="{% static 'analytics/js/flot/dashtwo-flot-active.js' %}"></script>
        <!-- data table JS
            ============================================ -->
        <script src="{% static 'analytics/js/data-table/bootstrap-table.js' %}"></script>
        <script src="{% static 'analytics/js/data-table/tableExport.js' %}"></script>
        <script src="{% static 'analytics/js/data-table/data-table-active.js' %}"></script>
        <script src="{% static 'analytics/js/data-table/bootstrap-table-editable.js' %}"></script>
        <script src="{% static 'analytics/js/data-table/bootstrap-editable.js' %}"></script>
        <script src="{% static 'analytics/js/data-table/bootstrap-table-resizable.js' %}"></script>
        <script src="{% static 'analytics/js/data-table/colResizable-1.5.source.js' %}"></script>
        <script src="{% static 'analytics/js/data-table/bootstrap-table-export.js' %}"></script>
        <!-- main JS
            ============================================ -->
        <script src="{% static 'analytics/js/main.js' %}"></script>

        	