{% extends './base.html' %}
{% block home %}
 <div class = 'container-fluid'>
    <h2 style="text-transform: uppercase; text-align: center" class="login100-form-title">Customer Demarcation System</h2>
 </div>
    <div style="float: left;" class = "container links">

        <div class="container-login100-form-btn">
            <nav>
                <li><a href="{%  url 'login'  %}" class = "login100-form-btn" style="width: 10rem">Login</a></li>
            </nav>
        </div>

    </div>


    <div class="login100-form"  >




					<div class="text-center p-t-136">
						<p class="txt2" href="#">
							Watch The Trends Of Sale and Customers For Your E-Commerce Site
							<i class="fa fa-money m-l-5" style="color: #2E79B4" aria-hidden="true"></i>
						</p>
					</div>
				</div>

{% endblock %}