{% extends "./base.html" %}
{% block home %}
    <div class = 'login100-form-title'>
    <h2 style="text-transform: uppercase">Customer Demarcation System</h2>
 </div>


    {% endblock %}

{% block login %}
    <div class="continer" style="text-align: center">
        <div class = 'login100-form'>
            <h5 class = header-lite> You have been logged out</h5>
        </div>
        <div style="display: inline-block; padding-top: 4rem;">
             <a  class="btn-success btn" href="{%  url 'login' %}">login again</a>
        </div>

         <div class="text-center p-t-12">
            <a class="txt2" href="/">
                Home
                <i class="fa fa-long-arrow-right m-l-5"  aria-hidden="true"></i>
            </a>
        </div>

    </div>



{% endblock %}